.container {
  color: #4e5150;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  width: 100%;
  padding: 20px 10px;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-user__image {
  width: 101px;
  border-radius: 16px;
  margin-bottom: 10px;
}

.profile-user__name {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
}

.profile-user__location {
  color: #a9a9a9;
  font-size: 10px;
  line-height: 12px;
}

.profile-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 260px;
}

.profile-status__item {
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 12px;
  display: flex;
  font-size: 12px;
  flex-flow: column;
  justify-content: center;
  height: 52px;
  line-height: 15px;
  padding: 10px;
  width: 78px;
}

.profile-status__item > span {
  color: #bdbdbd;
}

.gallery {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "photo-1 photo-2 photo-2"
    "photo-3 photo-3 photo-4"
    "photo-5 photo-6 photo-4";
  margin-top: 40px;
}

.gallery-photo {
  border-radius: 12px;
  width: 100%;
}

.photo-1 {
  grid-area: photo-1;
}

.photo-2 {
  grid-area: photo-2;
}

.photo-3 {
  grid-area: photo-3;
}

.photo-4 {
  grid-area: photo-4;
}

.photo-5 {
  grid-area: photo-5;
}

.photo-6 {
  grid-area: photo-6;
}

footer {
  color: #b9bdcf;
  margin-top: 55px;
  font-size: 14px;
  text-align: center;
}

footer > strong {
  font-weight: bold;
}

@media screen and (min-width: 1020px) {
  .container {
    width: 70%;
    margin: auto;
    padding-top: 70px;
  }

  .profile-user__image {
    width: 156px;
    margin-bottom: 15px;
  }
  .profile-user__name {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
  }

  .profile-user__location {
    font-size: 14px;
    line-height: 17px;
  }

  .profile-status {
    width: 350px;
  }

  .profile-status__item {
    font-size: 18px;
    height: 70px;
    line-height: 22px;
    width: 100px;
  }

  .profile-status__item > span {
    font-size: 14px;
    line-height: 17px;
  }

  .gallery {
    gap: 20px;
    margin-top: 60px;
  }

  footer {
    margin-top: 170px;
  }
}
