.container {
  color: #4e5150;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  width: 100%;
  padding: 20px 10px;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-user__image {
  width: 101px;
  height: 100px;
  border-radius: 16px;
  margin-bottom: 10px;
}

.profile-user__name {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
}

.profile-user__location {
  color: #a9a9a9;
  font-size: 10px;
  line-height: 12px;
}

.profile-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 260px;
}

.profile-status__item {
  background-color: #e5e5e5;
  border-radius: 12px;
  font-size: 12px;
  height: 52px;
  line-height: 15px;
  padding: 10px;
  text-align: center;
  width: 78px;
}

.profile-status__item > span {
  color: #bdbdbd;
}
